@import "./styles/blockquote.css";
@import "./styles/gradient.css";
@import "./styles/hover-zoom.css";
@import "./styles/particles-js.css";

body {
  font-family: Roboto;
  background-color: #f7fafc;
  color: #1f2937;
}

#root {
  min-height: 100vh;
  background-color: #f7fafc;
}
